/* ==========================================================================
   Element stylesheet
========================================================================== */
/*This is where we define our css variables */

$white: #ffffff;

$tnt_medium-orange: #ff6600;
$tnt_green: #ff88ff;
$tnt_blue: #1cb3f4;

$tnt_antracite: #333f48;
$tnt_grey_light: #e7e7e7;
$tnt_grey_ultra_light: #f7f7f7;

$tnt_border_color: #dfdfdf;
$tnt_border_color: #999999;


$screen_size_small: 479px;