/* ==========================================================================
   Font definition stylesheet
========================================================================== */
/**
 * Use this stylesheet to add font face
 *
 *
 */

 @font-face {
	font-family: 'Museo';
	src: url('../fonts/muse.eot');
	src: local('☺'), url('../fonts/muse.woff') format('woff');
	src: url(../fonts/muse.eot?#iefix) format("embedded-opentype"),url(../fonts/muse.woff2) format("woff2"),url(../fonts/muse.woff) format("woff"),url(fonts/muse.ttf) format("truetype"),url(../fonts/muse.svg#wf) format("svg");
	font-weight: normal;
	font-style: normal;
}
