/* ==========================================================================
   Element stylesheet
========================================================================== */
/**
 * Use this stylesheet to add some BASIC element styling
 *
 * please use with precation
 * see http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/ for reference
 *
 * @elements
 *
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: museo, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	color: $tnt_antracite;
	background-color: $tnt_grey_ultra_light;
	padding: 36px;
	padding: 2.25rem;
}

h1, h2, h3 {
 	font-family: museo, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	text-transform: uppercase;
}

p {
	line-height: 1.4;
}