/* ==========================================================================
   Component stylesheet
========================================================================== */

/**
 * Use this stylesheet for your component classes
 *
 * please use the bem name naming convention with namespaces
 * see http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/ for reference
 *
 * @tag This is a tag named 'tag'
 *
 */


/* C-tabs
   ========================================================================== */
/**
 * Tabular navigation component for TNT 
 *
 *
 * TODO: We still need to add some javascipt 
 */

.c-tabs {

	&__header {
		width: 100%;
		border-bottom: 1px solid $tnt_border_color;
	}

	&__list {
		display: table;
		padding: 0;
		margin: 0;
		margin-bottom: -1px;
		list-style: none;

		&__item {
			/*position: relative;*/
			display: table-cell;
			margin-bottom: -1px;

			&.is-active {
				display: block;
				
			}

			&__link {
				display: block;
				padding: 20px 25px;
				border: 1px solid $tnt_border_color;
				border-left: 0;
				color: $tnt_antracite;
				background-color: $tnt_grey_light;
				text-decoration: none;
				
			}

			&.is-active &__link {
				background-color: $white;
				border-bottom-color: transparent;
			}

			&:first-child &__link {
				border: 1px solid $tnt_border_color;
			}

		}
	}

	&__content {
		border: 1px solid $tnt_border_color;
		border-top: 0;
		background-color: $white;

		&__item {
			display: none;

			&.is-active {
				display: block;
			}
		}

	}


}

/* C-tabs smaller screens
========================================================================== */

@media (max-width: $screen_size_small) {
	.c-tabs {
		/* add scroll on the nav-items fot smaller screens*/
		&__header {
			overflow-x: auto;
			overflow-y: hidden;
		}

		&__list__item {
			//white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

}

/* C-tabs Print definitions
========================================================================== */
@media print {
	.c-tabs {

		&__header {
			display: none ;
		}
	
		&__content__item {
			display: block !important;
			border: 1px solid $tnt_border_color;
		}
	}
}




/* C-checkbox
   ========================================================================== */
/**
 * checkbox component for TNT 
 *
 *
 */

.c-checkbox {
	position: relative;
	margin-bottom: 0.5rem;
	margin-bottom: 8px;

	&__input {
		position: absolute;
		opacity: 0;
	}

	&__label {
		display: inline-block;
		cursor: pointer;
		padding: 0;
		line-height: 20px;

		&:before {
			display: inline-block;
			width: 18px;
			height: 18px;
			border: 1px solid $tnt_border_color;
			border-radius: 4px;
			margin-right: 10px;
			content: '';
			vertical-align: top;
		}

	}		

	&__input:checked + label:after {
			content: '';
			position: absolute;
			left: 3px;
			top: 8px;
			background: $tnt_blue;
			width: 3px;
			height: 3px;
			box-shadow: 2px 0 0 $tnt_blue, 4px 0 0 $tnt_blue, 4px -2px 0 $tnt_blue, 4px -4px 0 $tnt_blue, 4px -6px 0 $tnt_blue, 4px -8px 0 $tnt_blue;
		  	-moz-transform: rotate(45deg);
		  	-ms-transform: rotate(45deg);
		  	-webkit-transform: rotate(45deg);
		  	transform: rotate(45deg);
		}
}

/* C-radio
   ========================================================================== */
/**
 * checkbox component for TNT 
 *
 *
 */

.c-radio {
	position: relative;
	margin-bottom: 0.5rem;
	margin-bottom: 8px;


	&__input {
		position: absolute;
		opacity: 0;
	}

	&__label {
		display: inline-block;
		cursor: pointer;
		padding: 0;
		line-height: 20px;

		&:before {
			display: inline-block;
			width: 18px;
			height: 18px;
			border: 1px solid $tnt_border_color;
			border-radius: 18px;
			margin-right: 10px;
			content: '';
			vertical-align: top;
		}

	}		

	&__input:checked + label:after {
			content: '';
			position: absolute;
			left: 4px;
			top: 4px;
			background: $tnt_blue;
			width: 10px;
			height: 10px;
			border-radius: 10px;
		}
}






