/* ==========================================================================
   Utility stylesheet
========================================================================== */
/**
 * Use this stylesheet for your helper classes and utility classes
 *
 * please use the bem name naming convention with namespaces
 * see http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/ for reference
 *
 * @tag This is a tag named 'tag'
 *
 * TODO: We need to add some javascipt 
 */

 .u-padding {
 	padding: 36px;
 	padding: 2.25rem;
 }


@media (max-width: $screen_size_small) {
	.u-padding {
 		padding: 24px;
 		padding: 1.5rem;
 	}
}